<div style="text-align: right"> Madison Rusch </div>

<left>FINM 36700</left> 
<br>
<left>Autumn 2022</left>

<h2><center>Midterm #2 </center></h2>

### 1 Short Answer
#### 1.1


#### 1.2


#### 1.3


#### 1.4

### 2 Section2

In [1]:
# Some Python Code for importing packages/data
import pandas as pd
import numpy as np
import statsmodels.api as sm
import seaborn as sns
from statsmodels.regression.rolling import RollingOLS
import scipy
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.precision", 4)

# Read excel file, sheet
data = pd.read_excel('../data/midterm_1.xlsx', 'total returns')
data = data.set_index('date')
data.head()

               CL1     GC1     KC1     ES1     BP1
date
2009-01-31 -0.1135  0.0486  0.0611 -0.0861 -0.0078
2009-02-28  0.0447  0.0152 -0.0795 -0.1073 -0.0083
2009-03-31  0.0879 -0.0211  0.0344  0.0872  0.0017
2009-04-30 -0.0138 -0.0365 -0.0065  0.0947  0.0329
2009-05-31  0.2874  0.0983  0.1855  0.0552  0.0889

#### 2.1

### 3 Section 3